# Python
venv/
__pycache__/
*.pyc

# Machine learning models
models/*.pkl
models/*.joblib

# Large datasets
data/raw/*.csv
data/raw/*.xls
data/raw/*.xlsx

# Processed/generated datasets
data/processed/*.csv

# Local database
*.db
*.sqlite
*.sqlite3

# Environment files
.env